
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
coverage/

# Python
__pycache__/
*.py[cod]
.env
.venv/
env/
venv/
.mypy_cache/
.pytest_cache/
.pylint.d/

# macOS
.DS_Store

node_modules
.wwebjs_auth
.wwebjs_cache
